<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.main.java.babyapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/img_logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.DesignDemo"
        android:name="com.main.java.babyapp.BabyappApplication" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".SignupActivity"/>
        <activity android:name=".BabyMainActivity"/>
        <activity android:name=".MyScreeningSummaryActivity"/>
        <activity android:name=".GrowthSummaryActivity"/>
        <activity android:name=".HealthBookletActivity"/>
        <activity android:name=".ScreeningsActivity" />
        
        <activity android:name="com.main.java.babyapp.addbio.AddBioMainActivity"/>
        <activity android:name="com.main.java.babyapp.addbio.BirthRecordActivity"/>
        <activity android:name="com.main.java.babyapp.addbio.ParticularsOfParentsActivity"/>
        <activity android:name="com.main.java.babyapp.addbio.InverstigationsActivity"/>
        <activity android:name="com.main.java.babyapp.addbio.NewbornScreeningActivity"/>
        <activity android:name="com.main.java.babyapp.addbio.DischargeInformationActivity" />
        
        <activity android:name="com.main.java.babyapp.immunisations.ImmunisationActivity" />
        <activity android:name="com.main.java.babyapp.immunisations.ImmunisationCalendarActivity" />
        <activity android:name="com.main.java.babyapp.immunisations.ImmunisationInfoActivity" />
        <activity android:name="com.main.java.babyapp.immunisations.NewImmunisationActivity" />
        
        <activity android:name="com.main.java.babyapp.fragments.VisualAcuityActivity" />
        
        <activity android:name="com.main.java.babyapp.healthBooklet.TransparentMainActivity"  android:theme="@style/Theme.Transparent" />
        <activity android:name="com.main.java.babyapp.healthBooklet.TransparentOralVisualActivity"  android:theme="@style/Theme.Transparent" />
        <activity android:name="com.main.java.babyapp.healthBooklet.TransparentAllergyActivity"  android:theme="@style/Theme.Transparent" />
        <activity android:name="com.main.java.babyapp.healthBooklet.OralHealthActivity"/>
        <activity android:name="com.main.java.babyapp.healthBooklet.DrugAllergyActivity"/>
        <activity android:name="com.main.java.babyapp.healthBooklet.AllergyActivity"/>
        <activity android:name="com.main.java.babyapp.healthBooklet.MedicalConditionActivity"/>
        <activity android:name="com.main.java.babyapp.healthBooklet.AddConditionActivity"/>
        
        <activity android:name="com.main.java.babyapp.myScreenings.MyScreeningListItemActivity" />
        <activity android:name="com.main.java.babyapp.myScreenings.PersonalSocialActivity" />
        <activity android:name="com.main.java.babyapp.myScreenings.FineMotorAdaptiveActivity" />
        <activity android:name="com.main.java.babyapp.myScreenings.LanguageActivity" />
        <activity android:name="com.main.java.babyapp.myScreenings.GrossMotorActivity" />
        <activity android:name="com.main.java.babyapp.myScreenings.GrowthActivity" />
        <activity android:name="com.main.java.babyapp.myScreenings.OtherScreeningActivity" />
        <activity android:name="com.main.java.babyapp.myScreenings.OutcomeActivity" />
        <activity android:name="com.main.java.babyapp.myScreenings.PhysicalExaminationActivity" />
        
        <activity android:name="com.main.java.babyapp.encyclopedia.MedicationActivity" />
        
    </application>

</manifest>
